
$font-stack: Arial, sans-serif;
$primary-color: #d2b48c;
.body-container{
    margin-top: 8%;
    margin-bottom: 8%;
    font: 100% $font-stack;
}

.contact-form {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #c49c67;

    &__h1 {
        color: $primary-color;
    }

    form {
        display: flex;
        flex-direction: column;

        input,
        textarea {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: $primary-color;
            color: white;
            font-size: 1em;
            cursor: pointer;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }

    .contact-info {
        margin-top: 20px;
        &__p {
            margin: 5px 0;
        }

        &__link {
            color: $primary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



@media (min-width:768px) and (max-width:1024px) {
   
    .contact-form{
        width: 450px;
    }
    
}
@media (min-width:481px) and (max-width:767px) {
    .contact-form{
        font-size: 12px;
        width:250px;
    }
    
}
@media (min-width:320px) and (max-width:480px) {
    .contact-form{
        font-size: 10px;
        width:200px;
    }
    
}